.coment{
    background-color: rgb(242, 242, 242);
    color: rgb(144, 144, 144);
}
table{
   width: 700px;
   border: 1px solid aliceblue;
   border-radius: 30px;
   border-collapse: collapse;
}
li{
color: blue;
}
.write{
    color: black;"
}